<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Homepage</title>
</head>
<body>
    <p><h1>HOMELANDER</h1></p>
    <div>
        <form>
            <input type="text" placeholder="Place">
            <button type="submit">Submit</button>
        </form>
        <p>
            <p class="temperature"></p>
            <p class="condition"></p>
            <p class="place"></p>
        </p>
        <script src = "js/jessie.js"></script> 
    </div>
</body>
</html>